img.lespaul {
    height: 2em;
    padding-top: 1em;
    margin-bottom: -1em;
}

img.logo {
    padding-top: 2rem;
    height: 3.5em;
}

img.instruct {
    width: 45%;
    border: 5px solid #555;
}

img.instruct2 {
    width: 20%;
    border: 5px solid #555;
}

img.instruct3 {
    width: 15%;
    border: 5px solid #555;
}

body.body2 {
    margin: 1em;
}

div.floater {
    float: left;
    /* padding-right: 1em; */
}